* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial, sans-serif';
}

body {
    background-color: #28282B;
}

@font-face {
    font-family: 'BonaNovaSC-Regular';
    src: url(fonts/Bona_Nova_SC/BonaNovaSC-Regular.ttf)
}

@font-face {
    font-family: 'Oxygen-Regular';
    src: url(fonts/Oxygen/Oxygen-Regular.ttf)
}

@font-face {
    font-family: 'Signika-VariableFont_GRAD';
    src: url(fonts/Signika/Signika-VariableFont_GRAD\,wght.ttf)
}

/* --------------------- navigation bar --------------------- */
.navbar {
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
    padding-top: 12px;
    background-color: #FAF9F6;
}

.navbar .logo {
    font-size: 27px;
    font-weight: bold;
    text-decoration: none;
    color: #28282B; 
    margin-right: auto;
    font-family: 'BonaNovaSC-Regular';
}

.navbar .nav-links {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    position: relative;
}

.navbar .nav-link, .a {
    margin: 0 20px; 
    text-decoration: none;
    color: #020403; 
    font-size: 18px;
    transition: color 0.3s ease, font-weight 0.3s ease; 
    position: relative;
    font-family: 'Signika-VariableFont_GRAD';
    font-weight: 900;
}

.navbar .nav-link:hover {
    color: 	#C19A6B;
    font-weight: bold;
}

.genre-dropdown {
    position: relative;
}

.genre-dropdown:hover .dropdown-menu {
    display: grid;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: ghostwhite;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 10px;
    font-weight: 500;
}

.dropdown-item {
    padding: 10px 15px;
    display: block;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    font-family: 'Oxygen-Regular';
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

.navbar .search-bar {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.navbar .search-bar input {
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    width: 280px;
}

/* ------------------- Main page ------------------- */

.logoCon {
    margin-top: 25px;
    width: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.logoCon h3{
    font-size: 4em;
    font-family: 'BonaNovaSC-Regular';
    letter-spacing: 0.5em;
    margin-bottom: -10px;
    color: 	#C19A6B;
}

.logoCon img {
    width: 585px;
}

/* miniNav */

.miniNavBarCon {
    width: 100%;
    position: relative;
    z-index: 1000;
    margin: 40px 0 40px 0;
}

.miniNavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #006994;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.miniNav-links {
    display: flex;
    align-items: center;
}

.miniNav-link {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-size: 17px;
    font-weight: 800;
    transition: color 0.3s ease;
    font-family: 'BonaNovaSC-Regular';
}

.miniNav-link:hover {
    color: #C19A6B;
}

.miniGenre-dropdown {
    position: relative;
}

.miniDropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #004466;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    z-index: 1000;
}

.miniGenre-dropdown:hover .miniDropdown-menu {
    display: block;
}

.miniDropdown-item {
    display: block;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    white-space: nowrap;
    transition: background-color 0.3s ease;
}

.miniDropdown-item:hover {
    background-color: #ffcc00;
    color: #004466;
}

.miniSearch-bar {
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.miniSearch-bar input {
    border: none;
    padding: 8px 10px;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
    width: 260px;
}

.miniSearch-bar img{
    width: 36px;
    margin: 0 5px 0 20px;
    cursor: pointer;
}

/* game list */

.gameCon {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.game-container {
    max-width: 1200px; /* Adjust this value as needed */
    width: 100%;
}

.game-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust the minmax value as needed */
    gap: 20px; /* Adjust the gap between items as needed */
}

.game-grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px; 
    transition: transform 0.2s, box-shadow 0.2s;
}

.game-grid-item:hover {
    transform: translateY(-5px); /* Lift effect on hover */
}

.game-grid-item img {
    width: 190px;
    height: 260px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

.game-grid-item p {
    margin: 10px 0; /* Adjust the margin as needed */
    text-align: center;
    font-family: 'BonaNovaSC-Regular';
    font-size: 19px;
    font-weight: 900;
    color: #6699CC;
}

.game-grid-item p:nth-of-type(2){
    color: #FAF9F6;
    font-size: 14px;
    font-weight: 300;
}

.price-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.price-button-container p {
    margin-right: 10px; 
    font-family: 'Oxygen-Regular';
    font-size: 15px;
}

.game-grid-item button {
    padding: 8px;
    border: 2px solid #004080;
    background-color: #004466;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    font-size: 9px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Signika-VariableFont_GRAD';
    margin-left: 16px;
}

.game-grid-item button:hover {
    background-color: #004080;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.game-grid-item button:active {
    background-color: #00264d;
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* carsoule */

.carouselCon {
    justify-content: center;
    margin: 0 auto;
    margin-top: 70px;
    max-width: 1200px;
    width: 100%;
}

.carouselCon h3{
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
    color: #C19A6B;
    font-family: 'BonaNovaSC-Regular';
    letter-spacing: 0.1em;
}

.carousel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    margin-top: 30px;
    transition: transform 0.2s, box-shadow 0.2s;
    margin-left: 15px;
}

.carousel-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.carousel-item img {
    width: 100%;
    height: 240px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    border-radius: 5px 5px 0 0;
}

.carousel-item p {
    margin: 5px 0;
    color: #fff;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    font-family: 'BonaNovaSC-Regular';
}

.carousel-item p:nth-of-type(2) {
    font-weight: bold;
    font-size: 17px;
    color: #6699CC;
    margin-top: 8px;
}

.caroPrice-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 8px;
}

.caroPrice-button-container p {
    margin-right: 10px; 
    font-family: 'Oxygen-Regular';
    font-size: 15px;
    color: #6699CC;
    font-weight: 600;
}

.carousel-item button {
    padding: 8px;
    border: 2px solid #004080;
    background-color: #004466;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    font-size: 9px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Signika-VariableFont_GRAD';
    margin-left: 150px;
    margin-top: 10px;
}

.carousel-item button:hover {
    background-color: #004080;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.carousel-item button:active {
    background-color: #00264d;
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* banner1 */

.ban1Con {
    width: 100%;
    margin-top: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ban1Con img {
    width: 850px; 
    max-width: 100%;
}


/* sales list */

.salesHead{
    margin-top: 70px;
    text-align: center;
    font-size: 40px;
    color: #C19A6B;
    font-family: 'BonaNovaSC-Regular';
    letter-spacing: 0.1em;
}

.salePriceCon p {
    text-decoration: line-through;
    font-weight: 100;
    font-size: 13px;
}

.salePriceCon p:nth-of-type(2){
    color: #FF0800;
    text-decoration: none;
    font-weight: 800;
}

.dis-item{
    margin-top: 30px;
}

/* category carousel  */

.cataCarousel h3{
    font-size: 40px;
    margin-bottom: 30px;
}

.cataCarousel-item:hover {
    transform: translateY(-2px);
    box-shadow: none;
    cursor: pointer;
}

.cataCarousel-item img{
    width: 78%;
    border-radius: 4px;
    height: 260px;
}

.cataCarousel-item img:hover{
    border: 2px solid #fff;
}

/* free games */

.freegameCon {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.freegame-container {
    max-width: 1200px; 
    width: 100%;
}

.freegame-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(390px, 1fr)); /* Adjust the minmax value as needed */
    gap: 20px; /* Adjust the gap between items as needed */
}

.giftHeadCon {
    display: flex; /* Use flexbox layout */
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Distribute space between items */
    width: 77%;
    max-width: 1200px; /* Set a max width to prevent it from becoming too wide */
    margin: 90px auto 30px auto;
}

.giftHead {
    font-size: 32px;
    color: #6699CC;
    font-family: 'BonaNovaSC-Regular';
    font-weight: 900;
    margin: 0; /* Remove margin to ensure proper alignment */
    font-size: 40px;
    letter-spacing: 0.1em;
}

.giftHeadCon img {
    width: 70px;
    /* margin-left: 15px;  */
}

.freegame-grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px; 
    transition: transform 0.2s, box-shadow 0.2s;
    background-color: ghostwhite;
}

.freegame-grid-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.freegame-grid-item img {
    width: 100%;
    height: 320px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    border-radius: 5px 5px 0 0;
}

.freegame-grid-item p {
    margin: 5px 0;
    color: #C19A6B;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    font-family: 'BonaNovaSC-Regular';
    font-weight: bold;
}

.freegame-grid-item p:nth-of-type(2) {
    font-weight: bold;
    font-size: 17px;
    color: black;
    margin-top: 8px;
}

.freegame-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 8px;
}

.freegame-button-container p {
    margin-right: 10px; 
    font-family: 'Oxygen-Regular';
    color: #6699CC;
    font-weight: 900;
    text-decoration: line-through;
    font-size: 15px;
}

.freegame-button-container p:nth-of-type(2){
    color: #FF0800;
    text-decoration: none;
    font-weight: 800;
    font-size: 18px;
}

.freegame-grid-item button {
    padding: 8px;
    border: 2px solid #004080;
    background-color: #004466;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    font-size: 9px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Signika-VariableFont_GRAD';
    margin-left: 80px;
   
}

.freegame-grid-item button:hover {
    background-color: #004080;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.freegame-grid-item button:active {
    background-color: #00264d;
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* --------------------- footer --------------------- */

.footer {
    background-color: #004792;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-bottom: -10%;
    margin-top: 80px;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px;
  }
  
  .footer-section h4 {
    margin-bottom: 15px;
  }
  
  .footer-section p {
    margin: 5px 0;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .social-icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 18px;
  }
  
  .social-icons a:hover {
    color: black; 
  }

/* --------------------- Common --------------------- */

.PageHead{
    margin: 50px 0 45px 0;
    text-align: center;
    font-size: 50px;
    color: #fff;
    font-family: 'BonaNovaSC-Regular';
    letter-spacing: 0.1em;
}

/* --------------------- Community --------------------- */

.communityCon {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: -20px;
}

.community-container {
    max-width: 1000px; /* Adjusted to fit more items side by side */
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.community-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(420px, 1fr)); /* Adjust this value as needed */
    gap: 20px;
}

.community-grid-item {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.community-grid-item p {
    margin: 5px 0;
    font-family: 'Arial', sans-serif;
}

.community-grid-item p:first-child {
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px;
}

.community-grid-item p:nth-child(2) {
    font-style: italic;
    color: #666666;
    margin-bottom: 22px;
    text-align: center;
}

.community-grid-item p:nth-child(3) {
    color: #004792;
    font-weight: bold;
}

.community-grid-item p:nth-child(4) {
    font-size: 12px;
    font-weight: bold;
}

.addOnCon {
    padding: 20px;
    background-color: #f9f9f9;
}

/* --------------------- Add on --------------------- */

.addOnCon {
    background-color: #28282B;
    display: flex; /* Added */
    justify-content: center; /* Ensure container is centered horizontally */
    align-items: center; /* Ensure container is centered vertically */
}

.addOn-container {
    display: flex; /* Added */
    justify-content: center; /* Ensures items inside the container are centered */
}

.addOn-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 700px;
}

.addOn-grid-item {
    padding-top: 10px;
    border-radius: 14px;
    text-align: center;
    margin-bottom: 30px;
}

.addOnImg img {
    display: inline-block;
    max-width: 40%;
    margin: 0 2%;
    vertical-align: top;
    border-radius: 2px;
}

.addOn-grid-item p {
    width: 460px;
    margin: 10px auto; /* Centering the paragraph within its container */
    font-size: 1rem;
    word-wrap: break-word; /* Ensuring text wraps within the specified width */
    text-align: center; /* Center the text within the paragraph */
}

.addOn-grid-item p:nth-of-type(1){
    font-size: 27px;
    font-weight: 700;
    font-family: 'Signika-VariableFont_GRAD';
    margin-bottom: 25px;
    margin-top: 20px;
    color: #006994;
}

.addOn-grid-item p:nth-of-type(2){
    font-size: 15px;
    font-weight: 100;
    font-family: 'Oxygen-Regular';
    margin-bottom: 25px;
    margin-top: 20px;
    color: #fff;
}

.addOn-grid-item p:nth-of-type(3){
    font-size: 17px;
    font-weight: 700;
    font-family: 'Signika-VariableFont_GRAD';
    margin-top: 20px;
    color: #006994;
}

.addOn-grid-item button{
    margin-top: 5px;
    padding: 10px;
    border: 2px solid #004080;
    background-color: #004466;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Signika-VariableFont_GRAD';
    margin-left: 16px;
}


@media (max-width: 1100px) {

     /* carsoul */

     .carousel-item img {
        width: 100%;
        height: 190px;
    }

    /* cata  carsoul */
    .cataCarousel-item img{
        width: 78%;
        height: 220px;
    }
    
}

@media (max-width: 1025px) {

     /* carsoul */

     .carousel-item img {
        width: 100%;
        height: 260px;
    }

    /* banner */
    .bancarousel-item img{
        width: 100%;
    }

    /* cata  carsoul */
    .cataCarousel-item img{
        width: 80%;
        height: 280px;
    }

    /* free games */

    .freegame-grid-item img {
        height: 270px;
    }

}

@media (max-width: 870px) {
    .nav-link {
        margin: 0 10px;
    }

    /* main page */

    .logoCon img {
        width: 70%;
    }

     /* carsoul */

     .carousel-item img {
        width: 100%;
        height: 200px;
    }

    /* banner */
    .bancarousel-item img{
        width: 100%;
    }

    /* cata  carsoul */
    .cataCarousel-item img{
        width: 78%;
        height: 240px;
    }

    /* free games */

    .freegame-grid-item img {
        height: 250px;
    }

    .freegame-grid-container {
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); 
    }

}

@media (max-width: 795px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .navbar-logo {
        margin-bottom: 10px;
    }

    .navbar .logo {
       margin: 0 auto;
    }
    

    .logo-img {
        width: 100px;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 10px;
    }

    .nav-link {
        margin: 10px 0;
    }

    .auth-buttons {
        flex-direction: column;
        align-items: center;
        width: 150px;
        margin-top: 10px;
    }

    .auth-button {
        margin: 5px 0;
        width: 80%;
        text-align: center;
    }

    .search-bar {
        width: 100%;
        justify-content: center;
        margin-top: 10px;
    }

    .search-bar input {
        width: 90%;
        max-width: 400px;
    }

    .lineNav{
        display: none;
    }

    /* main page */

    .logoCon h3{
        font-size: 3.5em;
        letter-spacing: 0.4em;
    }

    /* mini nav */

    .miniNavBar {
        flex-direction: column;
        align-items: center;
    }

    .miniNav-links {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .miniNav-link {
        margin: 10px 0;
    }

    .miniSearch-bar {
        width: 100%;
        margin-top: 10px;
    }

    .miniSearch-bar input {
        width: 100%;
    }

    .genre-dropdown {
        width: 100%;
    }

    .miniDropdown-menu {
        width: 100%;
    }

    /* carsoul */

    .carousel-item img {
        width: 100%;
    }

    /* banner */
    .bancarousel-item img{
        width: 100%;
    }

    /* cata  carsoul */
    .cataCarousel-item img{
        width: 80%;
        height: 260px;
    }

     /* free games */

    .freegame-grid-item img {
        height: 220px;
    }

}

@media (max-width: 712px) {

    /* free games */
    .freegame-grid-item img {
        height: 300px;
    }
}

@media (max-width: 680px) {

    /* carsoul */

    .carousel-item p {
        font-size: 22px;
    }
    
    .carousel-item p:nth-of-type(2) {
        font-size: 17px;
    }
    
    .caroPrice-button-container p {
        font-size: 14px;
    }

    .carousel-item img {
       width: 100%;
       height: 180px;
   }

   .caroPrice-button-container {
        margin-top: 15px;
    }

    .carousel-item button {
        margin-left: 80px;
    }

    /* cata  carsoul */
    .cataCarousel-item img{
        width: 90%;
        height: 260px;
    }

    /* free games */

    .freegame-grid-item img {
        height: 320px;
    }

    /* --------------------- Common --------------------- */

.PageHead{
    font-size: 35px;
}

}

@media (max-width: 590px) {

    /* main page */
    .logoCon h3{
        font-size: 3.1em;
        letter-spacing: 0.4em;
        margin-bottom: 10px;
    }

    .miniNavBar {
        padding: 10px;
    }

    .miniNav-link {
        font-size: 14px;
    }

    .miniSearch-bar input {
        font-size: 14px;
    }

    /* carsoul */

    .carousel-item p {
        font-size: 20px;
    }
    
    .carousel-item p:nth-of-type(2) {
        font-size: 15px;
    }
    
    .caroPrice-button-container p {
        font-size: 14px;
    }

    .carousel-item img {
        width: 100%;
        height: 240px;
    }

    /* banner */
    .bancarousel-item img{
        width: 100%;
    }

    /* cata  carsoul */
    .cataCarousel-item img{
        width: 75%;
        height: 320px;
    }

    /* free games */

    .freegame-grid-item img {
        height: 250px;
    }

    /* add on */

    .addOn-grid-item p:nth-of-type(1){
        font-size: 24px;
    }
    
    .addOn-grid-item p:nth-of-type(2){
        font-size: 12px;
    }

    .addOnImg img { 
        max-width: 46%;
    }

}